.form {
  border: 1px solid rgb(255, 255, 255);
  margin-top: 4rem;
  border-radius: 1rem;
  width: 40rem;
  height: 40rem;
  padding: 50px;
  margin-left: 28rem;
  background-color: rgb(9, 14, 36);
}
h1,
h4,
span {
  color: white;
}
h4 {
  font-weight: lighter;
}
body {
  background-color: rgb(9, 14, 36);
}
